.plant-galery-image {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.selectedImage {
    background-color: #CBF5EC;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
