.add-plant-container {
    display: grid;
    padding: 0 5%;
    gap: 15px;
    grid-template-areas: 
        'pageHeader'
        'plantImage'
        'popup'
        'plantName'
        'watering'
        'spraying'
        'fertilizing'
        'plantSave';
}

.page-header {
    grid-area: pageHeader;
    text-align: center;
}


.plant-image {
    grid-area: plantImage;
    text-align: center;
}

.popup {
    grid-area: popup;
    text-align: center;
}

.plant-name {
    grid-area: plantName;
}

.watering {
    grid-area: watering;
}

.spraying {
    grid-area: spraying;
}

.fertilizing {
    grid-area: fertilizing;
}

.plant-save {
    grid-area: plantSave;
    text-align: center;
}

.care {
    border: 2px solid lightgrey;
    border-radius: 8px;
}

#saveBtn {
    background-color: #1FC49F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .add-plant-container {
        grid-template-columns: repeat(3, minmax(0, 1fr)) ;
        grid-template-areas: 
            'pageHeader pageHeader pageHeader '
            'plantImage plantImage plantImage'
            'popup popup popup'
            'plantName plantName plantName'
            'watering  spraying fertilizing'
            'plantSave plantSave plantSave';
    }
}

