.add-plant-container {
    display: grid;
    gap: 15px;
    grid-template-areas: 
        'pageHeader'
        'plantImage'
        'popup'
        'plantName'
        'cares'
        'cares'
        'cares'
        'plantSave';
}

.page-header {
    grid-area: pageHeader;
    
}


.plant-image {
    grid-area: plantImage;
    text-align: center;
}

.popup {
    grid-area: popup;
    text-align: center;
}

.plant-name {
    grid-area: plantName;
}

.cares {
    grid-area: cares;
    display: grid;
}

.care {
    border: 2px solid lightgrey;
    border-radius: 8px;
}

.plant-save {
    grid-area: plantSave;
    text-align: center;
}



@media (min-width: 768px) {
    .add-plant-container {
        grid-template-columns: repeat(3, minmax(0, 1fr)) ;
        grid-template-areas: 
            'pageHeader pageHeader pageHeader '
            'plantImage plantImage plantImage'
            'popup popup popup'
            'plantName plantName plantName'
            'cares cares cares'
            'plantSave plantSave plantSave';
    }

    .cares {
        grid-template-columns: auto auto auto;
        grid-template-areas: 'care care care';
        gap: 15px
    }
}

