.task-card-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid: 'plantImage taskInformation careIcon'
    'executeCare executeCare executeCare';
    margin: 16px 0;
    padding: 16px 0;
}

.task-card-container:hover{
    border-radius: 10px;
    background-color: #f5f5f5;
}

.plant-image-container {
    grid-area: plantImage;
}

.task-information {
    margin-top: 16px;
    grid-area: taskInformation;
}

.care-information {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.execute-care-container {
    text-align: center;
    grid-area: executeCare;
}

.care-icon-container {
    text-align: center;
    grid-area: careIcon;
}
.plant-name {
    color: #1FC49F;
}

.care-type-icon {
    width: 20px;
}

@media (min-width: 576px) {
    .task-card-container {
        grid-template-columns: 20% 40% 25% 15%;
        grid: 'plantImage taskInformation executeCare careIcon';
    }

    .plant-image-container {
        text-align: center;
    }

    .execute-care-container {
        padding-top: 20px;
    }
}

@media (min-width: 768px) {
    .task-card-container {
        grid-template-columns: 15% 55% 20% 10%;
    }

    .plant-image-container {
        text-align: center;
    }

    .execute-care-container {
        padding-top: 20px;
    }
}