.care-schedule-date {
    margin-top: 10px;
}

.empty-to-do-list {
    margin-top: 50px;
}

.tasks-container {
    width: 100%;
}

@media (min-width: 992px){
    .tasks-container {
    width: 80%;
    margin: auto;
}
}
