.fileInput {
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.imgPreview {
    margin: 0 auto;
    height: 120px;
    width: 120px;
}

img {
    width: 100px;
    height: 100px;
}



