.plant-card {
    border: 2px solid lightgrey;
    border-radius: 16px;
    padding: 10px;
}

.edit-remove-set {
    text-align: right;
}

.plant-control  {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.garden-plant-image {
   text-align: center;
}

.garden-plant-name {
    text-align: center;
    color: #1fc49f;
    padding-top: 4px;
}

.plant-information {
    text-align: left;
}

.plant-card-divider {
    margin: 5px auto;
}
