.plant-card {
    border: 2px solid lightgrey;
    border-radius: 16px;
    padding: 10px;
}

.edit-remove-set {
    text-align: right;
}

.plant-control  {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.garden-plant-image {
   text-align: center;
}

h6 {
    text-align: left;
}

.plant-information {
    text-align: left;
}
