.plant-image {
    width: 100px;
}

.plant-image-clickable {
    height: 120px;
}

.plant-image-clickable:hover {
    margin: 0 auto;
    background-color: #CBF5EC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}