.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1FC49F;
  }
  
 .navigation li {
    float: left;
  }
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navigation li:last-child{
    float: right;
}
  
.navigation li a:hover{
    background-color: #10ad8b;
  }
  
.navigation-link{
    color: white;
  }

.selected {
  font-weight: bold;
  background-color: #127E66;
}

.signOut {
  cursor: pointer;
}

.navigation-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}