.garden-card-container{
    display: grid;
    gap: 15px;
}

@media (min-width: 768px){
    .garden-card-container{
        grid-template-columns: 50% 50% ;
    }
}

@media (min-width: 992px){
    .garden-card-container{
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 1200px){
    .garden-card-container{
        grid-template-columns: 25%  25% 25% 25%;
    }
}