body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h3, h5 {
  color: #1FC49F;
  text-align: center;
}

.secondary-text{
  color: grey;
  font-weight: 400;

}

.center-component {
  text-align: center;
}

.waterly-logo {
  width: 200px;
  height: 200px;
}

.waterly-logo-text {
  color: #127E66;
  text-align: center;
  font-size: 3.5em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
